@import './reset.css';
@import './colors.css';

.header,
.footer,
.sidebar,
.content {
  border: 1px solid white;
}
.header {
  background: var(--blue);
}
.footer {
  background: var(--purple);
}
.sidebar {
  background: var(--green);
}
.content {
  background: var(--grey);
}
.app {
  font-size: 2.5rem;
  font-family: Arial, Helvetica, sans-serif;
}
/* ^^^ unimportant ^^^ */

html, body {
  height: 100%;
}

.app {
  display: flex;
  min-height: 100%;
  flex-direction: column;
}

.main {
  flex: 1 0 auto;
  display: flex;
}

.content {
  flex: 1 0 auto;
}

.sidebar {
  flex: 0 0 20%;
}

.nav-list {
  display: flex;
  justify-content: flex-end;
}

.nav-item {
  padding: 10px;
}

.nav-item:hover {
  background: var(--blue-1);
  cursor: pointer;
}

@media (max-width: 768px) {
  .nav-list {
    justify-content: space-around;
  }
}

@media (max-width: 600px) {
  .main {
    flex-direction: column;
  }
  .sidebar {
    flex: 0 0 auto;
  }
  .nav-list {
    flex-direction: column;
  }
  .content {
    order: -1;
  }
}
